&.block-form {
    .form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-radius: 14px;
        background: url(../img/form-bg1.png) no-repeat center center;
        background-size: cover;
        padding: 30px 40px 30px;

        &.banner-form {
            max-width: 490px;
            box-shadow: 0px 16px 37.6px 2.4px rgba(69, 83, 94, 0.17),0px 16px 34px 6px rgba(69, 83, 94, 0.22);

            .form-title {
                color: $wc;
                font: 600 25px/36px $bf;
                padding: 0 0 30px;
                overflow: hidden;
                border-top-left-radius: 14px;
                border-top-right-radius: 14px;

                span {
                    font: 600 25px/36px $bf;
                }
            }

            &:after {
                display: block;
                position: absolute;
                content: '';
                width: 760px;
                height: 761px;
                top: 50%;
                left: 50%;
                background: url(../img/form-decoration.png) no-repeat center center;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
        }

        &.demo-form {

            .form-title {
                color: #192535;
                font: 700 36px/48px $bf;
                text-align: center;

                span {
                    font: 700 36px/48px $bf;
                }
            }

            .form-subtitle, .form-desc {
                color: #192535;
                font: 300 20px/31px $bf;
                text-align: center;
                margin-bottom: 10px;
            }
        }

        .error {
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            color: #172330;
            font: 600 11px $bf;
        }

        input {
            display: block;
            position: relative;
            width: 100%;
            height: 50px;
            border-radius: 3px;
            border: 1px solid #cad6de;
            background: $wc;
            color: #172330;
            font: 600 14px/48px $bf;
            padding: 0 15px;
            margin-bottom: 15px;

            &::placeholder {
                color: #172330;
                font: 600 14px/48px $bf;
            }
        }

        textarea {
            display: block;
            position: relative;
            width: 100%;
            min-height: 100px;
            border-radius: 3px;
            border: 1px solid #cad6de;
            background: $wc;
            color: #172330;
            font: 600 14px/48px $bf;
            padding: 10px 15px;
            margin-bottom: 15px;
            resize: none;

            &::placeholder {
                color: #172330;
                font: 600 14px/48px $bf;
            }
        }

        .form-row {
            display: flex;
            align-items: center;
            flex: 1 1 100%;
            margin: 0 -10px;

            .form-col {
                position: relative;
                flex: 1 1;
                padding: 0 10px;
            }

            &:last-child {
                .form-col {
                    input, textarea {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .form-title {
            flex: 1 1 100%;

            span {
                position: relative;
                width: fit-content;
                color: $wc;
                margin-left: 5px;
                margin-right: 5px;
                z-index: 1;

                &:after {
                    display: block;
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 6px;
                    left: 0;
                    bottom: 4px;
                    background: #FFD784;
                }
            }
        }

        .form-subtitle, .form-desc {
            flex: 1 1 100%;
        }

        .form-body {
            flex: 1 1 100%;
            margin: 0 -50px;
            
            .form-body-box {
                position: relative;
                padding: 50px;
                border-radius: 6px;
                background: url(../img/form-body-bg1.png) no-repeat center center;
                background-size: cover;
                box-shadow: 0px 16px 37.6px 2.4px #45535e2b;
                z-index: 2;

                .form-title {
                    color: #192535;

                    span {
                        color: inherit;
                    }
                }

                &:after {
                    display: block;
                    position: absolute;
                    content: '';
                    height: 6px;
                    left: 10px;
                    right: 10px;
                    bottom: -6px;
                    background: #F1C57F;
                }
            }
        }

        .form-button {
            flex: 1 1 100%;
            border-bottom-left-radius: 14px;
            border-bottom-right-radius: 14px;
            overflow: hidden;
            margin-left: -40px;
            margin-right: -40px;
            margin-bottom: -30px;
        }
    }

    .stl-btn1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $wc;
        font: 600 20px $bf;
        text-transform: uppercase;
        padding: 30px;
        cursor: pointer;
        @include trans;

        .icon {
            display: flex;
            align-items: center;
            max-width: 35px;
            margin-left: 5px;
            @include trans;

            svg {
                width: 100%;

                path {
                    fill: $wc;
                }
            }

            @media only screen and (max-width: 768px) {
                max-width: 25px;
            }

            @media only screen and (max-width: 480px) {
                max-width: 18px;
            }
        }

        &:hover {
            background: #4d5a64;
            @include trans;

            .icon {
                margin-left: 10px;
                @include trans;
            }
        }
    }

    .stl-btn2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        border-radius: 4px;
        background: #ecae38;
        box-shadow: 0px 16px 37.6px 2.4px #45535e2b;
        color: $wc;
        font: 600 17px $bf;
        text-transform: uppercase;
        cursor: pointer;
        @include trans;

        .icon {
            display: flex;
            align-items: center;
            max-width: 35px;
            margin-left: 5px;
            @include trans;

            svg {
                width: 100%;

                path {
                    fill: $wc;
                }
            }

            @media only screen and (max-width: 768px) {
                max-width: 25px;
            }

            @media only screen and (max-width: 480px) {
                max-width: 18px;
            }
        }

        &:hover {
            background: #ffd688;
            @include trans;

            .icon {
                margin-left: 10px;
                @include trans;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    &.block-form {
        .form {
            padding: 30px;

            &.banner-form {
                .form-title {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            .form-body {
                margin: 0 -40px;

                .form-body-box {
                    padding: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
    &.block-form {
        .form {
            .form-row {
                flex-wrap: wrap;
                
                .form-col {
                    flex: 1 1 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 420px) {}