doctype
html(lang="en")
    include includes/head
    body
        include includes/dev-pages
        .main-wrapper
            .line
            .line
            .line
            .line
            .line
            include includes/header
            main.block.block-main
                block content
            include includes/footer
        include includes/scripts