&.block-header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 50px;
    z-index: 20;
    @include trans;

    &.opmenu {
        position: fixed;
        background: #ffffff;
        @include trans;

        .header-wrapper {
            .header-logo {
                img {
                    &.white {
                        display: none;
                        visibility: hidden;
                        opacity: 0;
                        @include trans;
                    }

                    &.black {
                        display: block;
                        visibility: visible;
                        opacity: 1;
                        @include trans;
                    }
                }
            }

            .header-container {
                .header-menu {
                    ul {
                        li {
                            a {
                                color: #172330;
                                @include trans;
                            }
                        }
                    }
                }
            }
        }
    }

    &.fixed-header {
        position: fixed;
        background: #ffffff;
        border-bottom: 1px solid #e0e4e6;
        box-shadow: 0px 0px 20px rgba(0,0,0,.4);
        @include trans;

        .header-wrapper {
            .header-logo {
                img {
                    &.white {
                        display: none;
                        visibility: hidden;
                        opacity: 0;
                        @include trans;
                    }

                    &.black {
                        display: block;
                        visibility: visible;
                        opacity: 1;
                        @include trans;
                    }
                }
            }

            .header-container {
                .header-menu {
                    ul {
                        li {
                            a {
                                color: #172330;
                                @include trans;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-wrapper {
        display: flex;
        align-items: center;

        .header-logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex: 1 0 200px;

            img {
                max-width: 174px;
                width: 100%;

                &.white {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                    @include trans;
                }

                &.black {
                    display: none;
                    visibility: hidden;
                    opacity: 0;
                    @include trans;

                    &.visible {
                        display: block !important;
                        visibility: visible !important;
                        opacity: 1 !important;
                    }
                }
            }
        }

        .header-container {
            position: relative;
            flex: 0 1 1400px;

            .burger {
                display: none;
                position: relative;
                width: 50px;
                height: 44px;
                padding: 10px;
                border-radius: 4px;
                background: #ffffff;
                z-index: 999;
                cursor: pointer;

                &.active {
                    .burger-box {
                        span {
                            transform: translate(-100%, -50%);
                            @include trans;
                        }

                        &:before {
                            top: 50%;
                            transform: translateY(-50%) rotate(45deg);
                            @include trans;
                        }

                        &:after {
                            bottom: 50%;
                            transform: translateY(-50%) rotate(-45deg);
                            @include trans;
                        }
                    }
                }

                .burger-box {
                    display: block;
                    position: relative;
                    width: 30px;
                    height: 24px;
                    overflow: hidden;

                    span {
                        display: block;
                        position: absolute;
                        height: 2px;
                        top: 50%;
                        left: 0;
                        right: 0;
                        transform: translateY(-50%);
                        background: #9B6233;
                        @include trans;
                    }

                    &:before {
                        display: block;
                        position: absolute;
                        content: '';
                        width: 30px;
                        height: 2px;
                        top: 0;
                        left: 0;
                        background: #9B6233;
                        @include trans;
                    }

                    &:after {
                        display: block;
                        position: absolute;
                        content: '';
                        width: 30px;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background: #9B6233;
                        @include trans;
                    }
                }
            }

            .mobile-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex: 1 1 100%;
            }

            .header-menu {
                display: flex;
                justify-content: flex-start;
                flex: 3 1;

                ul {
                    display: flex;
                    align-items: center;
                    flex: 1 1;

                    &.white {
                        li {
                            a {
                                color: $wc;
                            }
                        }
                    }

                    &.black {
                        li {
                            a {
                                color: #172330;
                            }
                        }
                    }

                    li {
                        padding: 0 24px;

                        &.active {
                            a {
                                opacity: 1;
                                @include trans;

                                &:before {
                                    opacity: 1;
                                    @include trans;
                                }
                            }
                        }

                        a {
                            display: block;
                            position: relative;
                            color: $wc;
                            font: 600 16px/17px $bf;
                            text-transform: uppercase;
                            padding: 45px 0;
                            opacity: .7;
                            cursor: pointer;
                            @include trans;

                            &:before {
                                display: block;
                                position: absolute;
                                content: '';
                                height: 6px;
                                top: 0;
                                left: 0;
                                right: 0;
                                background: #FFD784;
                                opacity: 0;
                                @include trans;
                            }

                            &:hover {
                                opacity: 1;
                                @include trans;
                            }
                        }
                    }
                }
            }

            .header-call {
                flex: 0 0 190px;
                padding-left: 15px;

                &.black {
                    a {
                        .number, .name {
                            color: #172330;
                        }
                    }
                }

                a {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    max-width: 174px;
                    width: 100%;
                    padding-left: 40px;

                    .number {
                        flex: 1 1 100%;
                        color: #ffffff;
                        font: 500 19px $bf;
                        text-transform: uppercase;
                    }
                    .name {
                        flex: 1 1 100%;
                        color: #ffffff;
                        font: 600 13px/20px $bf;
                        text-transform: uppercase;
                    }
                    
                    &:before {
                        display: block;
                        position: absolute;
                        content: '';
                        width: 24px;
                        height: 24px;
                        top: 10px;
                        left: 0;
                        background: url(../img/phone-icon.png) no-repeat center center;
                    }
                }
            }

            .header-rating {
                flex: 0 0 204px;
                padding-left: 80px;
                //margin-left: 65px;

                .rating-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 202px;
                    height: 84px;
                    border-radius: 10px;
                    border: 1px solid #e0e4e6;
                    background: #ffffff;
                    box-shadow: 0px 16px 37.6px 2.4px #45535e2b;
                    cursor: pointer;
                    @include trans;

                    img {
                        width: 157px;
                        height: 60px;
                    }

                    &:hover {
                        transform: translateY(-2px);
                        box-shadow: 0px 16px 37.6px 2.4px #45535e2b,0px 16px 34px 6px #45535e1f;
                        @include trans;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    &.block-header {
        padding: 0 30px;

        .header-wrapper {
            .header-container {
                .header-menu {
                    .menu {
                        justify-content: center;
                    }
                }

                .header-rating {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 1270px) {
    &.block-header {
        .header-wrapper {
            .header-container {
                .header-menu {
                    .menu {
                        li {
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    &.block-header {
        &.opmenu {
            .header-wrapper {
                .header-container {
                    .mobile-wrapper {
                        display: flex;
                        visibility: visible;
                        opacity: 1;
                        transform: translateX(0%);
                        @include trans;
                    }
                }
            }
        }

        .header-wrapper {
            padding: 15px 0;

            .header-logo {
                img {
                    max-width: 140px;
                }
            }

            .header-container {
                flex: 0 0;

                .burger {
                    display: block;
                }

                .mobile-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    position: fixed;
                    width: 100vw;
                    height: calc(100vh - 74px);
                    top: 74px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: #ffffff;
                    border-top: 1px solid #e0e4e6;
                    padding: 30px 15px;
                    visibility: hidden;
                    transform: translateX(100%);
                    opacity: 0;
                    @include trans;

                    .header-menu {
                        flex: 0 0;
                        margin-bottom: 30px;

                        .menu {
                            flex-direction: column;

                            li {
                                display: flex;
                                justify-content: center;

                                a {
                                    width: fit-content;
                                    padding: 10px 0;
                                }
                            }
                        }
                    }

                    .header-call {
                        flex: 0 0;
                        padding: 0;
                        margin-bottom: 30px;
                    }

                    .header-rating {
                        display: block;
                        flex: 0 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    &.block-header {
        padding: 0 15px;
    }
}