&.block-footer {
    position: relative;
    padding: 0 15px;

    .bg-decoration {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -3;
    }

    .footer-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        max-width: 1500px;
        width: 100%;
        padding: 70px 0;
        margin: 0 auto;

        .footer-block {
            flex: 0 1 25%;
            padding-right: 30px;

            .inner-block {
                margin-bottom: 40px;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }

            .title {
                flex: 1 1 100%;
                min-height: 33px;
                color: #172330;
                font: 600 22px $bf;
                margin-bottom: 10px;
            }

            .ft-menu {
                display: flex;
                flex-wrap: wrap;
                flex: 1 1 100%;

                li {
                    flex: 1 1 100%;

                    a {
                        flex: 1 1 100%;
                        color: #172330;
                        font: 500 15px/36px $bf;
                    }
                }
            }

            .phone-container, 
            .email-container {
                display: flex;
                flex: 1 1 100%;

                a {
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    margin-bottom: 10px;
                    color: #172330;
                    font: 400 15px/28px $bf;
                    margin-bottom: 10px;

                    .icon {
                        display: flex;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;

                        svg {
                            width: 100%;

                            path {
                                fill: #9B6233;
                            }
                        }
                    }
                }
            }

            .address {
                flex: 1 1 100%;
                color: #172330;
                font: 400 15px/28px $bf;
                margin-bottom: 10px;
            }

            .desc {
                flex: 1 1 100%;
                color: #172330;
                font: 400 15px/28px $bf;
                margin-bottom: 30px;

                span {
                    font-weight: 500;
                }
            }

            .rating-box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 202px;
                height: 84px;
                border-radius: 10px;
                border: 1px solid #e0e4e6;
                background: #ffffff;
                box-shadow: 0px 16px 37.6px 2.4px #45535e2b;
                cursor: pointer;
                @include trans;

                img {
                    width: 157px;
                    height: 60px;
                }

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 0px 16px 37.6px 2.4px #45535e2b,0px 16px 34px 6px #45535e1f;
                    @include trans;
                }
            }

            &:last-child {
                padding-right: 0;
            }
        }

        &:before {
            display: block;
            position: absolute;
            content: '';
            width: 100vw;
            height: 1px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #cbcbcb;
            opacity: .4;
        }
    }

    .footer-line {
        display: flex;
        justify-content: center;
        position: relative;
        max-width: 1280px;
        width: 100%;
        padding: 40px 0;
        margin: 0 auto;

        .copyright {
            color: #172330;
            font: 400 16px/40px $bf;
            text-transform: uppercase;
            text-align: center;
        }

        &:before {
            display: block;
            position: absolute;
            content: '';
            width: 100vw;
            height: 1px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: #cbcbcb;
            opacity: .4;
        }
    }
}

@media only screen and (max-width: 1200px) {
    &.block-footer {
        .footer-wrapper {
            .footer-block {
                flex: 1 1 100%;
                text-align: center;
                padding: 0;
                margin-bottom: 20px;

                .title {
                    min-height: auto;
                }

                .ft-menu {
                    li {
                        a {
                            justify-content: center;
                        }
                    }
                }

                .phone-container, 
                .email-container {
                    justify-content: center;
                }

                .rating-box {
                    margin: 0 auto;
                }
            }
        }
    }
}