&.block-relation {
    position: relative;
    padding: 0 15px;
    margin-bottom: 80px;

    .relation-wrapper {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;

        .relation-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 100%;

            &.with-bg {
                border-radius: 14px;
                background: #172330 url(../img/relation-bg.png) no-repeat center center;
                background-size: 100% 100%;
                box-shadow: 0px 16px 37.6px 2.4px #45535e2b, 0px 16px 34px 6px#45535e38;
                padding: 50px 30px;
                overflow: hidden;

                .inner-box {
                    .title, .desc {
                        color: $wc;
                    }
                }
            }

            .inner-box {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex: 0 1 80%;

                .title {
                    flex: 1 1 100%;
                    color: #172330;
                    font: 700 36px/48px $bf;
                    text-align: center;
                    margin-bottom: 10px;
                }

                .desc {
                    flex: 1 1 100%;
                    color: #172330;
                    font: 300 20px/31px $bf;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .stl-btn2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 0 1 280px;
                    height: 58px;
                    border-radius: 4px;
                    box-shadow: 0px 16px 37.6px 2.4px #45535e2b;
                    color: $wc;
                    font: 600 17px $bf;
                    text-transform: uppercase;
                    overflow: hidden;
                    cursor: pointer;
                    @include trans;

                    &.bg1 {
                        background: #5880a8;

                        &:hover {
                            background: #7e9ebe;
                        }
                    }
                    &.bg2 {
                        background: #ecae38;

                        &:hover {
                            background: #ffd688;
                            box-shadow: 0px 16px 37.6px 2.4px #45535e2b;
                        }
                    }

                    .icon {
                        display: flex;
                        align-items: center;
                        max-width: 26px;
                        margin-left: 5px;
                        @include trans;

                        svg {
                            width: 100%;

                            path {
                                fill: $wc;
                            }
                        }

                        @media only screen and (max-width: 768px) {
                            max-width: 25px;
                        }

                        @media only screen and (max-width: 480px) {
                            max-width: 18px;
                        }
                    }

                    &:hover {
                        @include trans;
                        
                        .icon {
                            margin-left: 10px;
                            @include trans;
                        }
                    }
                }
            }

            @media only screen and (max-width: 992px) {
                .inner-box {
                    .title {
                        font-size: 28px;
                        line-height: 38px;
                    }

                    .desc {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
            @media only screen and (max-width: 768px) {
                padding: 50px 30px;

                .inner-box {
                    flex: 1 1 100%;

                    .title {
                        font-size: 24px;
                        line-height: 32px;
                    }

                    .desc {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
            @media only screen and (max-width: 480px) {
                .inner-box {
                    .title {
                        font-size: 20px;
                        line-height: 22px;
                    }

                    .desc {
                        font-size: 14px;
                        line-height: 18px;
                    }

                    .stl-btn2 {
                        max-width: 200px;
                        height: 40px;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}