&.block-banner {
    position: relative;
    padding: 180px 15px 0;

    .bg-decoration {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -3;

        img {
            width: 100%;
        }
    }

    .banner-wrapper {
        display: flex;
        max-width: 1360px;
        width: 100%;
        margin: 0 auto 144px;

        .banner-info {
            flex: 0 1 60%;
            padding-right: 30px;

            & > .main-title {
                flex: 1 1;
                color: $wc;
                font: 700 43.2px $bf;
                text-shadow: 0 0 2px #eeeeee;
                margin-bottom: 45px;
            }

            .advantages-markers {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                flex: 1 1 100%;

                .marker {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    padding: 13.5px;
                    border-radius: 30px;
                    background: #FFD784;;
                    margin-right: 22.5px;
                    margin-bottom: 27px;
                    cursor: pointer;
                    @include trans;

                    span {
                        color: $bc;
                        font: 700 14.4px/27px $bf;
                    }

                    .icon {
                        display: flex;
                        align-items: center;
                        margin-right: 10px;

                        svg {
                            width: 20px;
                            height: 20px;

                            path, polygon {
                                fill: #000000;
                                @include trans;
                            }
                        }
                    }

                    &:hover {
                        background: #ffffff;
                        @include trans;

                        .icon {
                            svg {
                                path, polygon {
                                    fill: #FFD784;
                                    @include trans;
                                }
                            }
                        }
                    }
                }
            }
        }

        .banner-form {
            display: flex;
            justify-content: flex-end;
            position: relative;
            flex: 0 1 40%;
        }
    }
}

@media only screen and (max-width: 1200px) {
    &.block-banner {
        .banner-wrapper {
            .banner-info {
                & > .main-title {
                    font-size: 32.4px;
                    margin-bottom: 27px;
                }

                .advantages-markers {
                    .marker {
                        padding: 9px;
                        margin-right: 9px;
                        margin-bottom: 9px;

                        span {
                            font-size: 12.6px;
                            line-height: 12.6px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    &.block-banner {
        .banner-wrapper {
            flex-wrap: wrap;

            .banner-info {
                flex: 1 1 100%;
                padding-right: 0;
                margin-bottom: 27px;

                & > .main-title {
                    text-align: center;
                }

                .advantages-markers {
                    justify-content: center;
                }
            }

            .banner-form {
                display: flex;
                justify-content: center;
                flex: 1 1 100%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    &.block-banner {
        padding: 90px 15px 0;

        .block-splash {
            width: calc(100vw + 80px);

            .splash-bg {
                width: calc(100vw + 20px);

                img {
                    width: 100%;
                }
            }

            .splash-img {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .banner-wrapper {
            margin-bottom: 72px;

            .banner-info {
                & > .main-title {
                    font-size: 25.2px;
                }

                .advantages-markers {
                    flex-direction: column;

                    .marker {
                        margin-right: 0;
                    }
                } 
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    &.block-banner {
        .banner-wrapper {
            .banner-info {
                & > .main-title {
                    font-size: 18px;
                }
            }
        }
    }
}