&.block-reviews {
    position: relative;
    padding: 0 15px;
    margin-bottom: 72px;

    .bg-decoration {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .reviews-wrapper {
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;

        .main-title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 100%;
            color: #192535;
            font: 400 43.2px $bf;
            margin-bottom: 54px;

            span {
                font-weight: 600;
                margin-left: 2px;
            }

            .logo {
                width: 56.7px;
                height: 55.8px;
                margin-right: 5px;

                svg, img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .reviews-slider-container {
            display: flex;
            align-items: center;
            flex: 1 1 100%;

            .reviews-slider {
                position: relative;
                max-width: 950px;
                width: 100%;

                .slide {
                    padding: 5px 30px 5px 90px;
                    @include trans;

                    &.slick-current {
                        padding-left: 30px;
                        padding-right: 90px;
                        @include trans;
                    }

                    .title {
                        color: #192535;
                        font: 700 18px $bf;
                        margin-bottom: 10px;
                    }

                    .inner-wrapper {
                        position: relative;
                        max-width: 900px;
                        border-radius: 4px;
                        background: $wc;
                        box-shadow: 0px 16px 37.6px 2.4px #45535e2b;
                        padding: 36px;
                        margin-bottom: 27px;

                        .desc, .desc * {
                            color: #192535;
                            font: 300 14.4px/24.3px $bf; 
                        }

                        &:after {
                            display: block;
                            position: absolute;
                            content: '';
                            border: 16px solid transparent;
                            bottom: -16px;
                            z-index: 2;
                        }
                    }

                    &:nth-child(2n) {
                        .inner-wrapper {
                            &:after {
                                border-right: 16px solid #FEFEFE;
                                right: 20px;
                            }
                        }
                    }

                    &:nth-child(2n+1) {
                        .inner-wrapper {
                            &:after {
                                border-left: 16px solid #FEFEFE;
                                left: 20px;
                            }
                        }
                    }

                    &:not(.slick-current) {
                        opacity: .5;
                        @include trans;
                    }
                }
            }

            .slider-controls {
                display: flex;
                align-items: stretch;
                flex-direction: column;
                border-radius: 12px;
                overflow: hidden;
                box-shadow: 0px 16px 37.6px 2.4px #45535e2b;

                .slider-control {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 54px;
                    height: 108px;
                    background: #ffffff;
                    border: 1px solid #E4E6E7;
                    cursor: pointer;
                    @include trans;

                    &.slider-prev {
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                    }

                    &.slider-next {
                        border-top: none;
                        border-bottom-left-radius: 12px;
                        border-bottom-right-radius: 12px;
                    }

                    svg {
                        path {
                            fill: #192535;
                        }
                    }

                    &:hover {
                        background: #F5F5F5;
                        @include trans;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        .reviews-wrapper {
            .main-title {
                font-size: 32.4px;
                line-height: 41.4px;
            }
        }
    }

    @media only screen and (max-width: 992px) {

        .reviews-wrapper {
            .main-title {
                font-size: 25.2px;
                line-height: 32.4px;
                margin-bottom: 27px;

                .logo {
                    width: 38.7px;
                    height: 37.8px;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        margin-bottom: 60px;

        .reviews-wrapper {
            .main-title {
                font-size: 21.6px;
                line-height: 27px;
                margin-bottom: 18px;

                .logo {
                    width: 30px;
                    height: 28px;
                }
            }

            .reviews-slider-container {
                align-items: center;
                flex-direction: column;

                .reviews-slider {
                    flex: 1 1 100%;

                    .slide {
                        padding: 20px !important;

                        &.slick-current {
                            //max-width: 290px;
                            padding: 20px !important;
                        }

                        .title {
                            font-size: 18px;
                            line-height: 22px;
                        }

                        .inner-wrapper {
                            .desc, .desc * {
                                font-size: 12.6px;
                                line-height: 16.2px;
                            }
                        }
                    }
                }

                .slider-controls {
                    display: none;
                }
            }
        }
    }

    @media only screen and (max-width: 480px) {
        margin-bottom: 36px;

        .reviews-wrapper {
            .main-title {
                font-size: 16.2px;
                line-height: 21.8px;
                margin-bottom: 15px;

                .logo {
                    width: 20px;
                    height: 20px;
                }
            }

            .reviews-slider-container {
                .reviews-slider {
                    .slide {
                        padding: 0px;

                        .inner-wrapper {
                            padding: 15px;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        margin-bottom: 54px;
    }

    @media only screen and (max-width: 480px) {
        margin-bottom: 36px;
    }
}