&.block-method {
    position: relative;
    padding: 0 15px;
    margin-bottom: 80px;
    z-index: 1;

    .method-wrapper {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;

        .main-title {
            width: 100%;
            color: #192535;
            font: 700 36px/48px $bf;
            text-align: center;
            margin-bottom: 15px;
        }

        .subtitle {
            width: 100%;
            color: #192535;
            font: 300 20px/31px $bf;
            text-align: center;
            margin-bottom: 20px;
        }

        .steps-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 100%;
            position: relative;
            padding-top: 80px;

            .step-line {
                display: flex;
                flex: 1 1 100%;
                position: relative;
                margin-bottom: 60px;

                &.left {
                    justify-content: flex-start;

                    .step-block {
                        text-align: left;

                        .icon-block {
                            order: 1;
                            margin-right: 23px;
                        }

                        .info-block {
                            order: 2;
                        }
                    }
                }

                &.right {
                    justify-content: flex-end;

                    .step-block {
                        text-align: right;

                        .icon-block {
                            order: 2;
                            margin-left: 23px;
                        }

                        .info-block {
                            justify-content: flex-end;
                            order: 1;

                            .top-line {
                                justify-content: flex-end;
                            }
                        }
                    }
                }

                .step-block {
                    display: flex;

                    .icon-block {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 212px;
                        height: 212px;
                        position: relative;

                        .icon-bg {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            z-index: -1;
                        }

                        .icon-img {
                            display: flex;
                            flex: 0 1;
                            position: relative;
                            z-index: 1;
                        }
                    }

                    .info-block {
                        display: flex;
                        flex-wrap: wrap;
                        flex: 1 1;

                        .top-line {
                            display: flex;
                            align-items: center;
                            flex: 1 1 100%;
                            margin-bottom: 25px;

                            .grow {
                                flex-grow: 1;
                            }

                            .number {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 48px;
                                height: 48px;
                                border-radius: 50%;
                                background: $wc;
                                box-shadow: 0px 16px 37.6px 2.4px #45535e2b;
                                color: #192535;
                                font: 600 24px $bf;
                                margin-right: 12px;
                            }

                            .title {
                                width: fit-content;
                                color: #192535;
                                font: 600 24px $bf;
                            }
                        }

                        .desc {
                            flex: 0 1 382px;
                            color: #192535;
                            font: 300 17px $bf;
                            padding-left: 12px;
                        }
                    }
                }

                &:nth-child(1) {
                    &:after {
                        display: block;
                        position: absolute;
                        content: '';
                        height: 341px;
                        top: 60%;
                        left: 40px;
                        right: 0px;
                        background: url(../img/step-flow1.png) no-repeat center center;
                        background-size: contain;
                        overflow: hidden;
                        z-index: -1;
                    }
                }

                &:nth-child(2) {
                    &:after {
                        display: block;
                        position: absolute;
                        content: '';
                        height: 438px;
                        top: 94%;
                        left: 0px;
                        right: 40px;
                        background: url(../img/step-flow2.png) no-repeat center center;
                        background-size: contain;
                        overflow: hidden;
                        z-index: -1;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 992px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}