extends layout/email-template
block content
    table(border='0' cellpadding='0' cellspacing='0' width='100%', style='background: url(assets/for-email/email-background.png) no-repeat; background-size: 100% 100%;')
        tr
            td(align='center')
                table(border='0' cellpadding='0' cellspacing='0' width='720')
                    tr
                        td(align='center')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%')
                                tr
                                    td(align='center', style="padding-top:35px; padding-bottom:35px; text-align:center;")
                                        table(border='0' cellpadding='0' cellspacing='0' width='100%')
                                            tr
                                                td(align='center' style='text-align:center;')
                                                    a(href='#', style="text-align: center;")
                                                        img(src='assets/for-email/email-logo.png' alt='' style='width: 158px; height: 60px; margin: 0 auto;')

                    tr
                        td(align='center')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%' style="border-radius: 14px; overflow: hidden; box-shadow: 0px 5px 10px 0px #1b1b1b1f; -webkit-box-shadow: 0px 5px 10px 0px #1b1b1b1f; -moz-box-shadow: 0px 5px 10px 0px #1b1b1b1f;")
                                tr
                                    td(align='center')
                                        table(border='0', cellpadding='0', cellspacing='0', width='100%', style="background: url(assets/for-email/email-form-bg.png) no-repeat; background-size: 100% 100%; backgroung-position: 50% 0%;")
                                            tr
                                                td(align='center' style='padding-top: 60px; padding-bottom: 54px;')
                                                    span(style="width: 100%; color: #ffffff; font: 700 30px Arial; text-align: center;") Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt

                                tr
                                    td(align='center')
                                        table(border='0' cellpadding='0' cellspacing='0' width='100%' style="background: url(assets/for-email/email-center-icon.jpg) no-repeat; background-size: 100% 100%; height: 166px;")

                                tr
                                    td(align='center')
                                        table(border='0' cellpadding='0' cellspacing='0' width='720' style='background-color: #ffffff; padding-top: 55px; padding-left: 54px; padding-right: 54px; padding-bottom: 55px;')
                                            tr
                                                td(align='center' style='padding-bottom: 25px;')
                                                    span(style="color: #071e2d; font: 700 26px/24px Arial; text-align: center;") Thank you for Your Lorem ipsum

                                            tr
                                                td(align='center' style='padding-bottom: 45px;')
                                                    span(style="color: #071e2d; font: 400 15px/24px Arial; text-align-center;") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                                            tr
                                                td(align='center' style='padding-bottom: 50px;')
                                                    table(border='0' cellpadding='0' cellspacing='0' width='500')
                                                        tr
                                                            td(align='center' style='width: 50%; padding-left: 10px; padding-right: 10px;')
                                                                a(href="#", style="display: inline-block; width: 100%; border-radius: 7px; background-color: #071e2d;  color: #ffffff; font: 700 14px/14px Arial; text-align: center; text-transform: uppercase; text-decoration: none; padding-top: 18px; padding-bottom: 18px;") Gratis demonstratie
                                                            td(align='center' style='width: 50%; padding-left: 10px; padding-right: 10px;')
                                                                a(href="#", style="display: inline-block; width: 100%; border-radius: 7px; background-color: #ffffff; border: 1px solid #B4BBC0; color: #071e2d; font: 700 14px/14px Arial; text-align: center; text-transform: uppercase; text-decoration: none; padding-top: 18px; padding-bottom: 18px;") Meer informatie

                                            tr
                                                td(align='center')
                                                    span(style="color: #071e2d; font: 400 15px/24px Arial; text-align-center;") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                    tr
                        td(align='center')

                            table(border='0' cellpadding='0' cellspacing='0' width='100%')
                                tr
                                    td(align='center', style="padding-top: 40px; padding-bottom:30px; text-align:center;")
                                        a(href='#', style="text-align: center;")
                                            img(src='assets/for-email/email-logo.png' alt='' style='width: 158px; height: 60px; margin: 0 auto;')

                    tr
                        td(align='center')
                            table(border='0' cellpadding='0' cellspacing='0' width='100%')
                                tr
                                    td(align='center', style="padding-bottom:110px; text-align:center;")
                                        span(style="width: 100%; color: #4f585d; font: 400 13px/20px Arial; text-align: center;")
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                                            span(style="font-weight: 600;") eiusmod tempor 
                                            | incididunt magna aliqua