extends layout/layout
block content
    section.block.block-banner.with-splash
        .block.block-splash
            .splash-bg
                img(src="assets/img/splash-bg1.png", alt="splash background")
            .splash-img
                img(src="assets/img/splash-img1.png", alt="splash image")

        .banner-wrapper
            .banner-info
                .main-title Welkom bij Marmer behandelen de Natuursteen Specialist
                mixin advmark(name)
                    .marker
                        i.icon
                            include ../resources/assets/img/checkbox.svg
                        span=name
                .advantages-markers
                    +advmark('Stofvrije werkwijze')
                    +advmark('30 jaar ervaring')
                    +advmark('Landelijk opererend')
                    +advmark('Gratis proefstuk op locatie')
                    +advmark('Meubilair kan in huis blijven ')
            .banner-form
                .block.block-form
                    form.form.banner-form(action="#")
                        .form-title
                            | Vul uw gegevens in en ontvang binnen 
                            span 24 uur een reactie.
                        .form-body
                            .form-body-box
                                .form-row
                                    .form-col
                                        input(type="text", name="full name", placeholder="Full name")
                                        .error Enter full name
                                .form-row
                                    .form-col
                                        input(type="text", name="email", placeholder="Email")
                                        .error Enter correct email
                                    .form-col
                                        input(type="text", name="phone", placeholder="Phone")
                                        .error Enter correct phone
                                .form-row
                                    .form-col
                                        textarea(name="message", placeholder="Message")
                                        .error Enter some message
                        .form-button
                            button.stl-btn1(type="submit")
                                |   Verzenden
                                i.icon
                                    include ../resources/assets/img/arrow-right.svg