extends layout/layout
block title
    title Marmer Behandelen | Main page
block content
    section.block.block-banner.with-splash
        .bg-decoration: img(src="assets/img/decoration1.png", alt="decoration background")

        .block.block-splash.splash1
            .splash-bg: img(src="assets/img/splash-bg1.png", alt="splash background")
            .splash-img
                img.shadow1(src="assets/img/mask-shadow1.png", alt="")
                img.shadow2(src="assets/img/mask-shadow2.png", alt="")
                img.image(src="assets/img/splash-img1.jpg", alt="")

        .banner-wrapper
            .banner-info
                .main-title Welkom bij Marmer behandelen de Natuursteen Specialist
                .advantages-markers
                    +advmark('Stofvrije werkwijze')
                    +advmark('30 jaar ervaring')
                    +advmark('Landelijk opererend')
                    +advmark('Gratis proefstuk op locatie')
                    +advmark('Meubilair kan in huis blijven ')
            .banner-form
                .block.block-form
                    form.form.banner-form(action="#")
                        .form-title
                            | Vul uw gegevens in en ontvang binnen 
                            span 24 uur een reactie.
                        .form-body
                            .form-body-box
                                .form-row
                                    .form-col
                                        input(type="text", name="full name", placeholder="Full name")
                                        .error-msg Enter full name
                                .form-row
                                    .form-col
                                        input(type="text", name="email", placeholder="Email")
                                        .error-msg Enter correct email
                                    .form-col
                                        input(type="text", name="phone", placeholder="Phone")
                                        .error-msg Enter correct phone
                                .form-row
                                    .form-col
                                        textarea(name="message", placeholder="Message")
                                        .error-msg Enter some message
                        .form-button
                            button.stl-btn1(type="submit")
                                |   Verzenden
                                i.icon: include ../resources/assets/img/arrow-right.svg

    +text(true, 'Welkom bij Marmer behandelen de Natuursteen Specialist', 'Marmer behandelen heeft meer dan dertig jaar ervaring in het impregneren, kristalliseren (onze unieke methode), polijsten, reinigen, renoveren, repareren, schuren en slijpen van elk soort natuursteen. De producten van Marmer Behandelen en methodes zijn afkomstig uit Spanje wat ons uniek maakt in Nederland. Uw natuursteen komt opnieuw tot leven en de glans en het contrast komt weer helemaal terug. Marmer behandelen komt vrijblijvend bij u langs om te kijken en te luisteren naar uw wensen. Vanzelfsprekend bieden wij voor elke probleem met uw natuursteenvloer een oplossing en zullen wij u adviseren hoe uw vloer te onderhouden en daarmee voorkom je problemen in de toekomst. Marmer behandelen is zeker van zichzelf en daarom bieden wij één gratis proefbehandeling aan zodat niet woorden maar daden voor ons spreken.', 'assets/img/preview-image1.jpg', 'assets/img/preview-image1.jpg', 'assets/img/preview-image1.jpg')

    section.block.block-video.with-splash
        .block.block-splash: .splash-img: img(src="assets/img/splash-bg2.png", alt="splash background")

        .video-wrapper
            .main-title 
                | Bekijk hier onze bedrijfsvideo op TV
                .logo: img(src="assets/img/video-logo2.png", alt="small logo")
                .shadow-title Bekijk hier onze bedrijfsvideo 
                
            .video-container: .video-box: .embed-responsive.embed-responsive-16by9: iframe.embed-responsive-item(src="https://player.vimeo.com/video/343676331?title=0&amp;byline=0&amp;portrait=0", width="1280", height="580" frameborder="0", webkitallowfullscreen mozallowfullscreen allowfullscreen)

    section.block.block-advantages
        .advantages-wrapper
            .main-title De voordelen
            .desc Wij herstellen de glans van uw vloer, zodat deze een geheel nieuwe uitstraling krijgt. Daarom bent u bij Natuursteen Behandelen aan het juiste adres voor al uw natuursteen behandelingen.
            .advantages-container
                .advantage-block: .image-wrapper: img(src="assets/img/advantage-img.jpg", alt="")
                .advantage-block
                    ul.check-list
                        li 
                            i.icon: include ../resources/assets/img/check-list-icon.svg
                            | Gratis demonstratie op locatie
                        li 
                            i.icon: include ../resources/assets/img/check-list-icon.svg
                            | Landelijk werkend
                        li 
                            i.icon: include ../resources/assets/img/check-list-icon.svg
                            | Meubilair blijft in huis
                        li 
                            i.icon: include ../resources/assets/img/check-list-icon.svg
                            | Stofvrije werkwijze
                        li 
                            i.icon: include ../resources/assets/img/check-list-icon.svg
                            | 30+ jaar familiebedrijf
                        li 
                            i.icon: include ../resources/assets/img/check-list-icon.svg
                            | 100% tevredenheidsgarantie

    section.block.block-method
        .method-wrapper
            .main-title Onze werkwijze
            .subtitle Ons bedrijf behandelt met veel zorg en expertise natuurstenen vloeren door heel Nederland.

            .steps-wrapper
                +step('right', 'assets/img/step-icon-bg1.png', 'assets/img/step-icon1.png', '1', 'Neem vrijblijvend contact', 'Bel of mail ons vrijblijvend. Wij bespreken telefonisch de conditie van uw vloer en aan de hand daarvan geven wij u een prijsindicatie en informatie over hoe wij uw vloer opknappen.')
                +step('left', 'assets/img/step-icon-bg2.png', 'assets/img/step-icon2.png', '2', 'Gratis proefstuk en prijsopgave', 'Wij komen vrijblijvend naar u toe, op locatie inventariseren wij de werkzaamheden om vervolgens een exacte prijs te berekenen. Daarbij demonstreren wij gratis een proefbehandeling van 2m² op de door u gekozen plek.')
                +step('right', 'assets/img/step-icon-bg3.png', 'assets/img/step-icon3.png', '3', 'Wij gaan direct aan de slag!', 'Bent u tevreden over het proefstuk? Dan starten wij gelijk met de werkzaamheden en heeft u binnen één dag een vloer als nieuw. Is het proefstuk niet naar wens, dan betaalt u helemaal niets!')

    section.block.block-reviews
        .bg-decoration: img(src="assets/img/decoration2.png", alt="decoration background")

        .reviews-wrapper
            .main-title
                .logo: include ../resources/assets/img/reviews-icon.svg
                | klanten 
                span vertellen

            .reviews-slider-container
                .reviews-slider
                    +slide('Abraham Lincoln, Function of this great person')
                    +slide('Bob Marley, Function of this great person')
                    +slide('Abraham Lincoln, Function of this great person')
                    +slide('Bob Marley, Function of this great person')
                    +slide('Abraham Lincoln, Function of this great person')
                    +slide('Bob Marley, Function of this great person')
                    +slide('Abraham Lincoln, Function of this great person')
                    +slide('Bob Marley, Function of this great person')
                .slider-controls
                    .slider-control.slider-prev: include ../resources/assets/img/arrow-up.svg
                    .slider-control.slider-next: include ../resources/assets/img/arrow-down.svg

    section.block.block-quote
        .block.block-splash: .splash-img: img(src="assets/img/splash-bg3.png", alt="splash background")
                
        .quote-wrapper
            .quote-container
                .inner-box
                    .icon: include ../resources/assets/img/diamant.svg
                    .info
                        .title Wij komen vrijblijvend langs voor een offerte en advies!
                        .number BEL NU: 085 800 0007
