extends layout/layout2
block content
    section.block.block-single
        .single-wrapper
            .main-icon 
                .icon-bg
                    img(src="assets/img/step-icon-bg3.png", alt="")
                .icon-img
                    img(src="assets/img/thank-icon.png", alt="")

            .main-title Thank you for your request
            .desc Check your e-mail for further instructions
            .btn-wrapper
                a.stl-btn1(href="#") 
                    | Back to home
                    i.icon
                        include ../resources/assets/img/arrow-right.svg