/*==========  Style Sheet - Vars  ==========*/

// base font
$bf:                'Poppins', sans-serif;

// text color
$wc:#ffffff;
$tc:#555;

// base color
$bc: #192535;

// placeholder text color
$ptc:               #736666;