.wpcf7-form-control-wrap  {
    flex: 1 1;

    .wpcf7-form-control {
        display: flex;
        align-items: center;
        flex: 1 1 100%;
        margin: 0 -5px;

        .wpcf7-list-item {
            flex: 0 1 50%;
            padding: 0 5px;
            margin: 0;
        }
    }
}

input {
    &.wpcf7-number {
        margin: 0 auto 15px;
    }
}