.dev-pages
    h1 
        b Quick Dev Template (qdt) - Theme 
        | - website pages
    ul
        li
            a(href="index.html") Main page
        li
            a(href="landing.html") Landing page
        li
            a(href="email.html") Email
        li
            a(href="error.html") Error page
        li
            a(href="contacts.html") Contacts page

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off