.dev-pages
    h1 
        b Quick Dev Template (qdt) - Theme 
        | - website pages
    ul
        li
            a(href="index.html") Index
        li
            a(href="landing.html") Landing
        li
            a(href="email.html") Email answer
        li
            a(href="error.html") Error page

    a(href="#").show
        span.mdi.mdi-radioactive
        span.mdi.mdi-pin
        span.mdi.mdi-pin-off