footer.block.block-footer
    .bg-decoration
        img(src="assets/img/decoration3.png", alt="decoration background")

    .footer-wrapper
        .footer-block
            .inner-block
                .title Vloeren onderhoud
                ul.ft-menu
                    +ftmenu('Gneis onderhoud')
                    +ftmenu('Graniet onderhoud')
                    +ftmenu('Hardsteen onderhoud')
                    +ftmenu('Belgisch Hardsteen onderhoud')
                    +ftmenu('Chinees Hardsteen onderhoud')
                    +ftmenu('Kalksteen onderhoud')

        .footer-block
            .inner-block
                .title
                ul.ft-menu
                    +ftmenu('Kwartsiet onderhoud')
                    +ftmenu('Leisteen onderhoud')
                    +ftmenu('Marmer onderhoud')
                    +ftmenu('Natuursteen onderhoud')
                    +ftmenu('Travertin onderhoud')

        .footer-block
            .inner-block
                .title Vloer behandelingen
                ul.ft-menu
                    +ftmenu('Vloer kristalliseren')
                    +ftmenu('Vloer polijsten')
                    +ftmenu('Vloer impregneren')
                    +ftmenu('Vloer schuren')
                    +ftmenu('Vloer afslijpen')

        .footer-block
            .inner-block
                .title Marmer Behandelen
                .address 
                    | Jan van Duivenvoordestraat 31
                    br
                    | 1067 MT Amsterdam
                +phone('tel:0858000007', '085 800 0007')
                +email('mailto:info@marmerbehandelen.nl', 'info@marmerbehandelen.nl')

            .inner-block
                .title Vanuit Amsterdam werken wij door heel Nederland!
                .desc
                    span Locatie & contact
                    br
                    | Beoordeling door klanten: 9.2/10
                    br
                    | 133 beoordelingen
                .rating-box
                    .icon 8,8
                    .info
                        .stars
                            .star: img(src="assets/img/star-icon1.png", alt="")
                            .star: img(src="assets/img/star-icon1.png", alt="")
                            .star: img(src="assets/img/star-icon1.png", alt="")
                            .star: img(src="assets/img/star-icon1.png", alt="")
                            .star: img(src="assets/img/star-icon2.png", alt="")
                        .number 1487
                        .sub beoordelingen
    .footer-line
        .copyright Marmerbehandelen.nl