head
    meta(charset="UTF-8")
    block title
        title 
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap", rel="stylesheet")
    if (qdt_c.platform.libs.mdi)
        link(rel="stylesheet", href="assets/dist/mdi/css/materialdesignicons.min.css")
    if (qdt_c.platform.libs.bootstrap_3)
        link(rel="stylesheet", href="assets/dist/bootstrap/css/bootstrap.min.css")

    //- custom style
    link(rel="stylesheet", href="assets/dist/slick/slick.css")
    link(rel="stylesheet", href="assets/dist/slick/slick-theme.css")
    link(rel="stylesheet", href="assets/css/style.min.css")