header.block.block-header
    .header-wrapper
        .header-logo
            a(href="#")
                img.black(src="assets/img/header-logo.png", alt="logo")
                img.white(src="assets/img/header-logo2.png", alt="logo")
        .header-container
            button.burger(type="button") 
                .burger-box
                    span
            .mobile-wrapper
                .header-menu
                    ul.menu
                        li.active
                            a(href="#") Home
                        li
                            a(href="#") Referenties
                        li
                            a(href="#") Behandelingen
                        li
                            a(href="#") Onderhoud
                        li
                            a(href="#") Projecten
                        li
                            a(href="#") Contact
                .header-call
                    a(href="tel:0858000007")
                        .number 085 800 0007
                        .name bel gratis
                .header-rating
                    .rating-box
                        .icon 8,8
                        .info
                            .stars
                                .star: img(src="assets/img/star-icon1.png", alt="")
                                .star: img(src="assets/img/star-icon1.png", alt="")
                                .star: img(src="assets/img/star-icon1.png", alt="")
                                .star: img(src="assets/img/star-icon1.png", alt="")
                                .star: img(src="assets/img/star-icon2.png", alt="")
                            .number 1487
                            .sub beoordelingen